<% provide(:title,'Home') %>
<title>Ruby on Rails Tutorial Sample App | <%=yield(:title) %>
</title>
<h1>Ruby on Rails Tutorial Sample App | <%=yield(:title) %></h1>

<p>This is the home page for the Ruby on Rails Tutorial sample application.</p>